<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut !</h1>
    <p>Une commande viens d'être effectuée par <%= @user.first_name %> <%= @user.last_name %>.</p>
    <p>Celle-ci est désormais en cours de traitement.</p>
  </body>
</html>