
<tr>
	<td>
		<p><%= link_to order.id, profile_order_path(current_user, order) %></p>
	</td>
	<td>
		<p><%= link_to order.created_at, profile_order_path(current_user, order) %></p>
	</td>
	<td>
		<p><%= order.number_of_articles %></p>
	</td>
	<td>
		<p><%= order.subtotal%>€</p>
	</td>
</tr>

