  <!-- start banner Area -->

<section class="banner-area">
  <div class="container">
    <br><br><br><br><br>
    <div class="row fullscreen align-items-center justify-content-start">
      <div class="col-lg-12">
        <div class="active-banner-slider owl-carousel">

          <br><br>  <br><br><br><br>
          <!-- single-slide -->
          <div class="row single-slide align-items-center d-flex">
            <div class="col-lg-5 col-md-6">
              <div class="banner-content">
                <div class="h1home">Cat new <br>Collection!</div>
                <div class="add-bag d-flex align-items-center">
                  <a class="add-btn" id="myScrollspy" href="#cat_list"><span class="lnr lnr-cross"></span></a>
                  <span class="text-banner text-uppercase">DÉCOUVRIR LES IMAGES</span>
                </div>
              </div>
            </div>

            <div class="col-lg-7">
              <div class="banner-img">
                <img class="img-fluid" src="img/banner/banner-img.png" alt="">
              </div>
            </div>

          </div>
          <div class="row single-slide">
              <div class="col-lg-5">
                <div class="banner-content">
                  
                  <br><br><br><br><br><br>
                  <div class="add-bag d-flex align-items-center">
                    
                    <span class="add-text text-uppercase"></span>
                  </div>
                </div>
              </div>
              <div class="col-lg-7">
                <div class="banner-img">
                  <br><br><br><br><br><br><br><br>
                </div>
              </div>
            </div> 

        </div>

      </div>
    </div>
  </div>        
</section>


  <!-- start features Area -->
  <section class="features-area section_gap">
    <div class="container">
      <div class="row features-inner">
        <!-- single features -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-features">
            <div class="f-icon">
              <img src="" alt="">
            </div>
            <h6>Free Delivery</h6>
            <p>Free Shipping on all order</p>
          </div>
        </div>
        <!-- single features -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-features">
            <div class="f-icon">
              <img src="" alt="">
            </div>
            <h6>Return Policy</h6>
            <p>Free Shipping on all order</p>
          </div>
        </div>
        <!-- single features -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-features">
            <div class="f-icon">
              <img src="" alt="">
            </div>
            <h6>24/7 Support</h6>
            <p>Free Shipping on all order</p>
          </div>
        </div>
        <!-- single features -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-features">
            <div class="f-icon">
              <img src="" alt="">
            </div>
            <h6>Secure Payment</h6>
            <p>Free Shipping on all order</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end features Area -->
<div id="cat_list">
<%= render 'item', item: @item %>
</div> 


<script type="text/javascript">
$(function() {
    /**
    * Smooth scrolling to page anchor on click
    **/
    $("a[href*='#']:not([href='#'])").click(function() {
        if (
            location.hostname == this.hostname
            && this.pathname.replace(/^\//,"") == location.pathname.replace(/^\//,"")
        ) {
            var anchor = $(this.hash);
            anchor = anchor.length ? anchor : $("[name=" + this.hash.slice(1) +"]");
            if ( anchor.length ) {
                $("html, body").animate( { scrollTop: anchor.offset().top }, 900);
            }
        }
    });
});
</script>

